[submodule "Fission/vendor/yaml-cpp"]
	path = Fission/vendor/yaml-cpp
	url = https://github.com/lazergenixdev/yaml-cpp
[submodule "Fission/vendor/lazerlib"]
	path = Fission/vendor/lazerlib
	url = https://github.com/lazergenixdev/lazerlib
