<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dev.lazergenix.test">

    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35"/>

    <application android:label="Test" android:icon="@mipmap/ic_launcher">
        <activity android:name=".MainActivity"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:exported="true"
				  android:configChanges="orientation|screenSize"
				  android:screenOrientation="userLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>